* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*****************************************************************************************ADRIEN*****************************************************************************************/


/* ====================  */
/* === CSS DE BASE ==== */
/* =================== */


html, body {
    margin: 0;
    padding: 0;
 }


h1, h2{
    font-family: "Segoe UI", sans-serif;
    }
p {
    color: white;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}

header{
  height: 90px;
  background: rgba(81, 95, 103, 0.85);
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}


/* =================  */
/* === CSS Menu ==== */
/* ================ */




.navigation-menu{
  display: flex;
  align-items: center;
  justify-content: right;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: rgba(81, 95, 103, 0.85);
  color: #4bcaff;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}
/*================================*/
/*=== CSS Responsive Menu Burger=*/
/*==============================*/
@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: rgba(81, 95, 103, 0.85)0;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
 
}

/* ================  */
/* === CSS Logo === */
/* ================*/

.logo{
  float: left;
  padding: 35px 0;
  
}

.logo img{
  height: 20px;
}

/* ============================= */
/* === CSS I'am looking for === */
/* =========================== */

.header_main {
    background: url(header.png) fixed center no-repeat;
    min-height: 800px;
    color: #fff;
    background-size: cover;
    width: 100%;
    padding: 12.5% 0;
    text-align: center;
  }
  .line {
    display: inline-block;
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    background-color: rgba(81, 95, 103, 0.85);
    padding: 15px 18px;
    margin-top: 10px;
  }

/* ====================  */
/* === CSS services === */
/* ====================*/
.services {
    width: 100%;
    background-color: #4bcaff;
  }
  .content_wrap {
    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
  }
  .content_wrap h2 {
    font-size: 1.875rem;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
   
  }
  .content_wrap h2:after {
    content: " ";
    position: absolute;
    width: 45px;
    height: 2px;
    top: 43px;
    left: 0;
    background: #fff;
  }
  .info_block {
    width:25%;
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
    
  }

  img {
    max-width: 100%;
  }

/*================================*/
/*=== CSS Responsive Services====*/
/*==============================*/
@media screen and (max-width: 700px) {
  .basic_menu a {
    display: block;
    text-align: center;
  }


  .basic_menu {
    display: none;
    top: 100%;
    right: -2%;
    width: 150px;
    background: rgba(81, 95, 103, 0.85);
    
 }
  
  .line {
    font-size: 20px;
  }
  
  .info_block {
    width: calc(25% - 30px);
    
    
  }
  .info_block p {
    margin-bottom: 20px;
  }
  .test {
    display: none;
  }
}
 
  /*****************************************************************************************FIN ADRIEN*****************************************************************************************/


/*****************************************************************************************CHLOE*****************************************************************************************/
/*****************************PORTFOLIO*****************************/
.page1 {
    width: 100%;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    border: none;
    width: 50%;
    justify-content: space-between;
}

.banniere_port {
    border:none;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    margin-top: 52px;
    color: #6F7A80;
    font-weight: 400;
    
}

.por {
    text-decoration: underline;
}

.menu {
    color: #6F7A80;
    font-weight: 600;
    text-decoration: none;
    
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
    margin-top: 67px;
    
}

.menu li {
    margin-right: 31px;
    font-size: 11px;
    cursor: pointer;
}


.menu li:hover {
    color: #4BC9FD;
    border: solid 2px #4BC9FD;
}

.galerie {
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 0;
    border: none;
    
}

.photo_part1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    margin: 50px auto 0;
    border: none;
    
}

.photo_part3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    margin: 20px auto 0;
    border: none;
    
}

/*********************IMAGE*********************/

.container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8 {
    position: relative;
    width: 210px;
    cursor: pointer;
    margin: 15px;

}
.container1 img, .container2 img, .container3 img, .container4 img, .container5 img, .container6 img, .container7 img, .container8 img {
    width: 100%;
    opacity: 0.8;
}

.hovered1, .hovered2, .hovered3, .hovered4, .hovered5, .hovered6, .hovered7, .hovered8 {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 0; transition: all .3s;
    background-color: #3f3f44;   
}

.container1:hover .hovered1, .container2:hover .hovered2, .container3:hover .hovered3, .container4:hover .hovered4, .container5:hover .hovered5, .container6:hover .hovered6, .container7:hover .hovered7, .container8:hover .hovered8 {
    opacity: 0.8;
}
.hovered1 span, .hovered2 span, .hovered3 span, .hovered4 span, .hovered5 span, .hovered6 span, .hovered7 span, .hovered8 span {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: arial;
    transform: translate(-50%, -50%);
}

/*****************************JUST DEFAULT SECTION*****************************/
.page2 {
    background-color:#515F67 ;
    width: 100%;
}
.section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    border: none;
    width: 55%;
    background-color: #515F67 ;
}

.title2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    margin-bottom: 20px;
    color: #6F7A80;
    font-weight: 600;
    color: white;
}

.jus {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    margin: 50px;
    display: flex;
    border: none;
    
}

.texte {
    color: white;
    margin-right: 100px;
    text-align: justify;
    font-size: 11px;
    word-spacing: 0.4em;
    line-height: 1.5em;
    border: none;
    width: 50%;
    
}

.button {
    width: 105.44px;
    height: 33px;
    font-size: 11px;
    font-weight: 200;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: solid 2px black;
    margin-top: 1.16vh;
}

.video img {
    width: 100%;
    margin-left: auto;
    margin-bottom: 15px;
    display:flex;
    text-align: center;
    border: none;   
}


/*****************************TWITTER*****************************/
.page3 {
    background-color: #4BCAFF;
    width: 100%;
}

.twitter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    border: none;
    width: 65%;
    background-color: #4BCAFF;
}

.banniere {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 0;
    border: none;
    width: 90%;
    background-color: #4BCAFF ;
}

.title3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    margin-bottom: 20px;
    color: #6F7A80;
    font-weight: 600;
    color: white;
}

.twi {
    text-decoration: underline;
}

.texte_twitter {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 90%;
    margin: 0 auto 0;
    border: none;
    font-size: 21px;
}

.container_twitter {
    align-items: center;
    margin: 50px;
    margin-left: 95px;
}

.cheesecake {
    font-weight: 800;
}

/*****************************************************************************************FIN CHLOE*****************************************************************************************/


    /*****************************************************************************************ANDY*****************************************************************************************/

    
    /* who is john */
    .page4 {
        width: 100%;
        background-image: url(Chloe/bgphoto.png);
        background-size: cover;
       
    }
    .banniere_john {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto 0;
        border: none;
        margin-bottom: 15px;
        margin-top: 50px;
        width: 75%;

    }
   
    .john{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 0;
        border: none;
        width: 65%;
    }

    
    .logojohn{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
    }

    .title4 {
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        margin-bottom: 20px;
        color: #6F7A80;
        font-weight: 600;
        color: white;
    }
    .who {
        text-decoration: underline;
    }
    
    
    /* testimonal */
    .texte_testi {
        border: none;
        margin-bottom: 15px;
        color: gray;
    
    }

    .testi_titre {
        color: #00fff2;
    }
    .testimonial{
        border: none;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgb(255, 255, 255);
        margin-left: 25%;
        margin-right: 25%;
    }
    .testgui{
        display: flex;
        justify-content: space-between;
    }
    .testitre{
        color: gray;
    }
    .textetest{
        color: gray;
        text-align: justify; 
    }
    .textebleu{
        color: rgb(1, 148, 148);
    }

    .title5 {
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        margin-bottom: 20px;
        color: #6F7A80;
        font-weight: 600;
        color: gray;
    }
    .testi {
        text-decoration: underline;
    }
    
    /* contact */
    .title6 {
        display: flex;
        flex-wrap: wrap;
        font-size: 22px;
        margin-bottom: 20px;
        
        color: #6F7A80;
        font-weight: 600;
        color: white;
        border: none;
        
    }
    
    .CON {
        text-decoration: underline;
    }
    .contact{
        background-image: url(Chloe/contact.png);
        background-size: cover;
        width: 100%;
        color: white;
        text-align: justify; 
        padding-bottom:3vh;

        
    }
    .contactexte{
        margin-left: 25%;
        margin-right: 25%;
        display: block;
    }
    .responsive{
        margin-left: 25%;
        margin-right: 25%;
        display: block;
    }
    .textenoir{
        width: 50%;
        margin-left: 19%;
    }
    #FULL-NAME{
        background-color: transparent;
        border: solid 1px white;
        width: 100%;
        height: 6vh;
    }
    #EMAIL{
        background-color: transparent;
        border: solid 1px white;
        width: 100%;
        height: 6vh;
    }
    .boutton{
        height: 5vh;
        border: 1px solid #00fff2;
        font-size: 1.5em;
        text-align: center;
        color: rgb(0, 153, 255);
        text-decoration: none;
        background-color:#00fff2 ;
        float: center;
        margin-left: 19%;
        
    }
    #Text{
        background-color: transparent;
        border: solid 1px white;
        width: 100%;
        height: 10vh;
    }
   
    .alignement{
        display: flex;
        justify-content: space-between;
    }
    .name{
        padding-bottom: 10%;
        margin-left: 19%;
    }
    .email{
        padding-bottom: 10%;
        margin-left: 19%;
    }
    .message{
        padding-bottom: 2%;
        margin-left: 19%;
    }
   
    /* footer */
    
    footer{
        
        background-color: rgba(53, 63, 71, 1);
        color: white;
        background-size: cover;
        width: 100%;
        height: 10vh;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    

    }
    .home{
        margin-left: 25%;
        margin-right: 25%;
        border: none;
        text-align: center;
        width: 100%;
        
        
    }
    
    
    /*****************************************************************************************FIN ANDY*****************************************************************************************/
