body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* who is john */

.john{
    background-image: url(bgphoto.png);
    background-size: cover;}

.text-1{    
    margin-left: 10%;
    margin-right: 10%;}

.p3{
    display: none;}

.logo
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
}
/*who is john*/

/* testimonal */
#testimonal
{
    background-color: rgba(255, 255, 255, 1);
   
}
#testimonal div{
    margin-left: 10%;
    margin-right: 10%;
}
#alignement{
    display: flex;
    justify-content: space-between;

   }
.timonial-text
{
    margin-left: 10%;
    margin-right: 10%;
}
.timtext
{
    margin-left: 30%;
    margin-right: 30%;
}
#textebleu{
    color: aqua;
    font-size: medium ;
}
/* testimonal */
/* contact */
.contact
{
 background-image: url(contact.png);
 background-repeat: repeat;
 background-size: cover;
 text-align: justify;
 color: rgba(255, 255, 255, 1);

}

#FULL-NAME{
    background-color: transparent;
    border: solid 1px white;
    width: 100%;
    height: 4vh;
}
#EMAIL{
    background-color: transparent;
    border: solid 1px white;
    width: 100%;
    height: 4vh;
}
.boutton{
    height: 5vh;
    border: 1px solid #00fff2;
    font-size: 1.5em;
    text-align: center;
    color: rgb(0, 153, 255);
    text-decoration: none;
    background-color:#00fff2 ;
    float: center;
}
#Text{
    background-color: transparent;
    border: solid 1px white;
    width: 100%;
    height: 10vh;
}
.name{
    padding-bottom: 2%;
}
.email{
    padding-bottom: 2%;
}
.message{
    padding-bottom: 2%;
}
.contactexte{
    margin-left: 10%;
    margin-right: 10%;
}
.responsive{
    display: none;
}

/* contact */
/* footer */
.Footer
{
    background-color: rgba(53, 63, 71, 1);
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    

}
#home
{
    margin-left: 10%;
    margin-right: 10%;
    word-spacing: 20%;
}
/* footer */